
:root {
    --transition-bg: background-color 1s ease-in-out;
    --transition-color: color 1s ease-in-out;
    --transition-webkit-box-shadow: -webkit-box-shadow 1s ease-in-out;
    --bg-color: #ededed;
    --text-color: #2f2f2f;
    --text-secondary: #6c757d;
    --bg-color-input: #fff;
    --text-color-input: #212529;
}

[data-theme="dark"] {
    --bg-color: #414141;
    --text-color: #dbdbdb;
    --text-secondary: #aec4c5;
    --bg-color-input: #4f4f4f;
    --text-color-input: #ffffff;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--bg-color);
    transition: var(--transition-bg), var(--transition-color);
}

input {
    color: var(--text-color-input) !important;
    background-color: var(--bg-color-input) !important;
    transition: var(--transition-bg), var(--transition-color) !important;
}

input:-webkit-autofill {
    transition: background-color 9999s ease-in-out 0s, color 9999s ease-in-out 0s, var(--transition-webkit-box-shadow) !important;
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-color-input) inset !important;
    -webkit-text-fill-color: var(--text-color-input) !important;
}


.text-color-mode {
    transition: var(--transition-color);
    color: var(--text-color) !important;
}

.bg-color-mode {
    transition: var(--transition-bg);
    background-color: var(--bg-color) !important;
}

.link-secondary {
    transition: var(--transition-color);
    color: var(--text-secondary)
}

.cusor-pointer {
    cursor: pointer;
}
