
/* user index page */

.container-slide-top{
    min-height: 20rem;
}

/* end user index page */


/* SLIDE */

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: var(--text-color);
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-indicators .active {
    opacity: 1;
}

/* END SLIDE */


.horizontal-scroll-wrapper {
    position: relative;
}

.horizontal-scroll-container {
    overflow-x: auto;
    scrollbar-width: none; /* Ẩn scrollbar trên Firefox */
    -ms-overflow-style: none; /* Ẩn scrollbar trên IE/Edge */
}

    .horizontal-scroll-container::-webkit-scrollbar {
        display: none; /* Ẩn scrollbar trên Chrome, Safari */
    }

    .horizontal-scroll-container .row {
        flex-wrap: nowrap;
    }

        .horizontal-scroll-container .row .col {
            min-width: 15rem;
            max-width: 15rem;
        }

            .horizontal-scroll-container .row .col img {
                min-height: 12rem;
                max-height: 12rem;
            }

.horizontal-scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.horizontal-scroll-left {
    left: 0;
}

.horizontal-scroll-right {
    right: 0;
}

.hidden {
    display: none;
}

.vertical-card-list{
    margin-top: 2rem;
}
    .vertical-card-list .row .col {
        min-width: 15rem;
        max-width: 15rem;
    }

        .vertical-card-list .row .col img {
            min-height: 12rem;
            max-height: 12rem;
        }