<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Book Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <header>        
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light justify-content-start">
                        <i class="fa-solid fa-book-open-reader me-2 logo-header text-color-mode"></i>
                        <a class="navbar-brand text-color-mode" href="/">Book Store</a>
                    </nav>
                </div>
                <div class="col-auto align-middle col-language-mode">
                    <img src="/img/flag/vietnam-flag-icon.png" />
                </div>
                <div title="Dark/light mode" onclick="toggleTheme()" class="col-auto align-middle col-dark-light-mode me-3 pe-0 cusor-pointer">
                    <i id="icon-dark-mode" class="fa-solid fa-sun"></i>
                </div>
            </div>
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2024 - Huy Do
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* Hot reload script*@ <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
